#scrollerWrapper {
	height: 54px;
	font-size: 36px;
	overflow: hidden;
	margin-bottom: 15px;
}

#scroller { 
	height: 100%; 
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}
#scroller li {
	float: left;
	height: 54px;
	list-style-position: inside;
	list-style: none;
	overflow: hidden;
}