#scrollerWrapper {
	height: 34px;
	font-size: 26px;
	overflow: hidden;
}

#scroller { 
	height: 100%; 
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}
#scroller li {
	float: left;
	height: 34px;
	list-style-position: inside;
	list-style: none;
	overflow: hidden;
}