#scrollerWrapper {
	height: 34px;
	margin: 30px;
	overflow: hidden;
	font-size: 18px;
}

#scroller { 
	height: 100%; 
	margin: 0;
	padding: 0;
	line-height: 30px;
	position: relative;}
#scroller li {
	float: left;
	height: 34px;
	padding: 0 0 0 10px;
	list-style-position: inside;
	list-style: none;
}